/*************
* Constants  *
*************/

$infinity: 999999px;

/*************
* Colors     *
*************/

// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

$alt_borders_color: var(--alt-borders-color);
$alt_focus_border_color: var(--alt-focus-borders-color);
$backdrop_base_color: var(--backdrop-base-color);
$backdrop_bg_color: var(--backdrop-bg-color);
$backdrop_borders_color: var(--backdrop-borders-color);
$backdrop_dark_fill: var(--backdrop-dark-fill);
$backdrop_fg_color: var(--backdrop-fg-color);
$backdrop_insensitive_color: var(--backdrop-insensitive-color);
$backdrop_selected_fg_color: var(--backdrop-selected-fg-color);
$backdrop_text_color: var(--backdrop-text-color);
$background_default: var(--background-default-color);
$background_high: var(--background-high-color);
$background_low: var(--background-low-color);
$background_medium: var(--background-medium-color);
$base_color: var(--base-color);
$base_icon_color: var(--base-icon-color);
$bg_color: var(--bg-color);
$borders_color: var(--borders-color);
$borders_edge: var(--borders-edge-color);
$checkradio_bg_color: var(--checkradio-bg-color);
$checkradio_borders_color: var(--checkradio-borders-color);
$checkradio_fg_color: var(--checkradio-fg-color);
$code_bg_color: var(--code-bg-color);
$code_border_color: var(--code-border-color);
$danger_color: var(--danger-color);
$destructive_color: var(--destructive-color);
$dimmed_selected_bg_color: var(--dimmed-selected-bg-color);
$dimmed_transparent_selected_bg_color: var(--dimmed-transparent-selected-bg-color);
$drop_target_color: var(--drop-target-color);
$error_color: var(--error-color);
$fg_color_title: var(--fg-title-color);
$fg_color: var(--fg-color);
$focus_border_color: var(--focus-borders-color);
$headerbar_bg_color: var(--header-bar-bg-color);
$info_color: var(--info-color);
$insensitive_bg_color: var(--insensitive-bg-color);
$insensitive_borders_color: var(--insensitive-borders-color);
$insensitive_fg_color: var(--insensitive-fg-color);
$lighten_bg_color: var(--lighten-bg-color);
$lighten_borders_color: var(--lighten-borders-color);
$link_active_selected_color: var(--link-active-selected-color);
$link_color: var(--link-color);
$link_disabled_color: var(--link-disabled-color);
$link_hover_color: var(--link-hover-color);
$link_selected_color: var(--link-selected-color);
$link_selected_hover_color: var(--link-selected-hover-color);
$link_selected_visited_color: var(--link-selected-visited-color);
$link_visited_color: var(--link-visited-color);
$menu_color: var(--menu-color);
$menu_selected_color: var(--menu-selected-color);
$muted_color: var(--muted-color);
$osd_bg_color: var(--osd-bg-color);
$osd_borders_color: var(--osd-borders-color);
$osd_fg_color: var(--osd-fg-color);
$osd_insensitive_bg_color: var(--osd-insensitive-bg-color);
$osd_insensitive_fg_color: var(--osd-insensitive-fg-color);
$osd_text_color: var(--osd-text-color);
$panel_danger_color: var(--panel-danger-color);
$panel_default_color: var(--panel-default-color);
$panel_info_color: var(--panel-info-color);
$panel_success_color: var(--panel-success-color);
$panel_warning_color: var(--panel-warning-color);
$popover_bg: var(--popover-bg-color);
$popover_fg: var(--popover-fg-color);
$popover_border: var(--popover-border-color);
$progress_bg_color: var(--progress-bg-color);
$progress_border_color: var(--progress-borders-color);
$scrollbar_bg_color: var(--scrollbar-bg-color);
$scrollbar_slider_active_color: var(--scrollbar-slider-active-color);
$scrollbar_slider_color: var(--scrollbar-slider-color);
$scrollbar_slider_hover_color: var(--scrollbar-slider-hover-color);
$selected_bg_color: var(--selected-bg-color);
$selected_borders_color: var(--selected-borders-color);
$selected_fg_color: var(--selected-fg-color);
$selected_text_shadow: var(--selected-text-shadow-color);
$shadow_color: var(--shadow-color);
$sidebar_bg_color: var(--sidebar-bg-color);
$success_color: var(--success-color);
$suggested_bg_color: var(--suggested-bg-color);
$suggested_border_color: var(--suggested-border-color);
$switch_bg_color: var(--switch-bg-color);
$switch_borders_color: var(--switch-borders-color);
$text_color: var(--text-color);
$tooltip_borders_color: var(--tooltip-borders-color);
$top_hilight: var(--top-highlight-color);
$treeview_backdrop_borders_color: var(--treeview-backdrop-borders-color);
$treeview_borders_color: var(--treeview-borders-color);
$warning_color: var(--warning-color);
$window_keycap_box_shadow_color: var(--window-keycap-box-shadow-color);

// For iteration
$colors: (
  "info": $info_color,
  "success": $success_color,
  "warning": $warning_color,
  "danger": $danger_color,
);

/*************
* Dimensions *
*************/

$height_mini: 18px;
$height_small: 22px;
$height_medium: 28px;
$height_large: 36px;
$height_huge: 42px;
$height_mega: 58px;

$heights: (
  "mini": $height_mini,
  "small": $height_small,
  "medium": $height_medium,
  "large": $height_large,
  "huge": $height_huge,
  "mega": $height_mega,
);

$font_sizes: (
  "mini": 11px,
  "small": 12px,
  "medium": 14px,
  "large": 18px,
  "huge": 20px,
  "mega": 28px,
);

$icon_sizes: (
  "mini": 12px,
  "small": 13px,
  "medium": 16px,
  "large": 20px,
  "huge": 23px,
  "mega": 32px,
);

@function ratio_to_medium($value, $size) {
  @return calc($value * calc(map-get($heights, $size) / map-get($heights, "medium")));
}
