name: Publish canary
on:
  push:
    branches:
      - "prerelease-rolling"

env:
  NPM_TOKEN: ""

jobs:
  publish-canary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]
    steps:
      - name: Setup Node Environment
        uses: actions/setup-node@v3
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        uses: Borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - name: Build
        uses: Borales/actions-yarn@v3.0.0
        with:
          cmd: build
      - name: Publish Canary
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTOMATION_TOKEN }}
        run: ./scripts/publish-canary.sh
